.login-form {
    padding: 30px;
    padding-bottom: 40px;
    background-color: #6a33b800;
    font-weight: bold;
    font-size: 22px;
    color: #000000d1;
}

.form-input {
    font-size: 18px!important;
    font-weight: 600!important;
    color: #8f82a0!important;
}
